.secrets/
.ssh/

node_modules/
**/node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

dist/
build/
*.tsbuildinfo

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
desktop.ini

.idea/
.vscode/
*.swp
*.swo
*~

.browser_data_dir/

.cache/
.npm/
.pki/
.config/
.local/

.bash_logout
.bashrc
.profile
.viminfo
.zshrc
.nvm/
